In [1]:
import numpy as np
import pandas as pd
import requests

Goal: Identify or visualize the impact of COVID on emissions (visualizations of time series data before and when COVID began)

Learning Objectives:
1. How were different sectors impacted by COVID-19?
2. What was the overall effect of COVID-19 on GHG Emissions across all Countries?
3. Can we observe when COVID directly impacted emissions in America?

## Part One: Comparing Yearly Aggregated Data of Total GHG Emissions

In [ ]:
#dataset of yearly GHG emissions across all countries
sectors_emissions = requests.get("https://api.climatetrace.org/emissions_by_sector_timeseries?interval=year&since=2000&to=2021").json()
sectors_emissions = pd.json_normalize(sectors_emissions, record_path = ["emissions"], meta = ["name"]).rename(columns ={"start": "Start Date", "end": "End Date", "value": "GHG Emissions", "name":"Sector"})

In [22]:
sectors_emissions["Sector"].value_counts()

transport        7
oil and gas      7
maritime         7
buildings        7
power            7
forests          7
waste            7
agriculture      7
extraction       7
manufacturing    7
Name: Sector, dtype: int64

## Part Two: Monthly Data in 2020-2021 USA

In [35]:
usa_monthly = requests.get("https://api.climatetrace.org/emissions_by_sector_timeseries?country=USA&interval=month&since=2000&to=2021").json()
usa_monthly = pd.json_normalize(usa_monthly, record_path = ["emissions"], meta = ["name"]).rename(columns ={"start": "Start Date", "end": "End Date", "value": "GHG Emissions", "name":"Sector"})

In [36]:
usa_monthly

     Start Date    End Date  GHG Emissions       Sector
0    2021-12-01  2022-01-01   2.594783e+06  agriculture
1    2021-11-01  2021-12-01   2.594783e+06  agriculture
2    2021-10-01  2021-11-01   2.681276e+06  agriculture
3    2021-09-01  2021-10-01   2.594783e+06  agriculture
4    2021-08-01  2021-09-01   2.681276e+06  agriculture
..          ...         ...            ...          ...
835  2015-05-01  2015-06-01   2.424543e+09        waste
836  2015-04-01  2015-05-01   2.346332e+09        waste
837  2015-03-01  2015-04-01   2.424543e+09        waste
838  2015-02-01  2015-03-01   2.189910e+09        waste
839  2015-01-01  2015-02-01   2.424543e+09        waste

[840 rows x 4 columns]

## Part Three: Observing Daily Data in January-April 2020 USA

In [39]:
usa_daily = requests.get("https://api.climatetrace.org/emissions_by_sector_timeseries?country=USA&interval=day&since=2020&to=2021").json()
usa_daily = pd.json_normalize(usa_daily, record_path = ["emissions"], meta = ["name"]).rename(columns ={"start": "Start Date", "end": "End Date", "value": "GHG Emissions", "name":"Sector"})
usa_daily

      Start Date    End Date  GHG Emissions       Sector
0     2021-12-30  2021-12-31   8.649276e+04  agriculture
1     2021-12-29  2021-12-30   8.649276e+04  agriculture
2     2021-12-28  2021-12-29   8.649276e+04  agriculture
3     2021-12-27  2021-12-28   8.649276e+04  agriculture
4     2021-12-26  2021-12-27   8.649276e+04  agriculture
...          ...         ...            ...          ...
7285  2020-01-05  2020-01-06   7.689103e+07        waste
7286  2020-01-04  2020-01-05   7.689103e+07        waste
7287  2020-01-03  2020-01-04   7.689103e+07        waste
7288  2020-01-02  2020-01-03   7.689103e+07        waste
7289  2020-01-01  2020-01-02   7.689103e+07        waste

[7290 rows x 4 columns]

1. Cleaning Dataset to only the Months of January through April
2. Plotting daily ghg emissions data

## Part Four: Try it for yourself
Have students execute the request call using the ClimateTrace API [https://api.climatetrace.org/] to observe time series of another country